table {
  width: 100%;
}

td {
  width: 33%;
}

button.disabled {
  cursor: not-allowed;
}

.todo {
  cursor: pointer;
}

.todo:hover {
  -webkit-box-shadow: -5px 5px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 5px 5px rgba(0,0,0,0.75);
  box-shadow: -5px 5px 5px rgba(0,0,0,0.75);
}

.done, .todo-done {
  color: gray;
}

.done {
  text-decoration: line-through;
}

.progress {
  margin-top: 50px;
  margin-bottom: 50px;
}
