<div *ngIf="!isEmpty">
  <mat-progress-bar class="progress" mode="determinate" [value]="progressValue"></mat-progress-bar>

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Label </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'done': element.state}"> {{element.label}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element">
        <i
          class="far fa-2x todo"
          [ngClass]="{'fa-square': !element.state, 'fa-check-square': element.state, 'todo-done': element.state}"
          (click)="onClickTodo(element)"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-danger" (click)="removeTodo(element)" [ngClass]="{'disabled': !element.state}">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>

<div class="alert alert-danger" role="alert" *ngIf="isEmpty">
  There is no data in localStorage...
</div>

<button mat-raised-button (click)="openDialog()" class="btn btn-success btn-100">Add one</button>
