<h1 mat-dialog-title>Add new Todo</h1>
<div mat-dialog-content>
  <mat-form-field class="width-100">
    <input matInput placeholder="Todo's label" [(ngModel)]="newTodo.label" (keyup.enter)="onPressEnter()">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="btn btn-danger btn-50"> Cancel </button>
  <button mat-button [mat-dialog-close]="newTodo" cdkFocusInitial class="btn btn-success btn-50"> Add ! </button>
</div>
