<!--The content below is only a placeholder and can be replaced.-->
<app-menu></app-menu>
<div style="text-align:center">
  <h1>
    Welcome {{ title }}!
  </h1>
</div>


<router-outlet></router-outlet>
